#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

code {
  display: block;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 1rem;
  overflow-x: auto;
  box-sizing: border-box;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.dark {
  background-color: #000;
  color: #fff;
}

.light {
  background-color: #fff;
  color: #000;
}
